.item {
  margin: 4px;
  width: 80px;
  height: 80px;
  border: 10px solid #000000;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 64px;
  line-height: 94.34px;
  background-color: #fff;
  font-family: 'Finger Paint', cursive;
}

.item x:hover {
  background-color: #ff0505;
}

.item y:hover {
  background-color: #0026ed;
}

